<script setup lang="ts">
import {getFlagUrl, storeUserMatchBet} from "~/logics";
import {computed, defineProps, reactive, ref} from 'vue'
import {useI18n} from 'vue-i18n'
const {t} = useI18n()

const props = defineProps({
  match: {
    type: Object,
    required: true,
  },
  userScores: {
    type: Object,
    required: true,
  },
  isOldGame: {
    type: Boolean,
    required: false,
    default: false
  }
})
const match = props.match;
const bettingDisabled = computed(() => match.status !== 'SCHEDULED');

const matchInfo = reactive({
  matchTime: computed(() => new Date(match.utcDate).toLocaleString()),
  homeTeam: computed(() => ({
    name: match.homeTeam.name,
    flag: getFlagUrl(match.homeTeam.id)
  })),
  awayTeam: computed(() => ({
    name: match.awayTeam.name,
    flag: getFlagUrl(match.awayTeam.id)
  }))
});

const homeScore = computed(()=> {
  const score = props.match.score;
  let homeScore = score.fullTime.homeTeam;
  if (score.extraTime.homeTeam != null) {
    homeScore = homeScore - score.extraTime.homeTeam;
  }
  if (score.penalties.homeTeam != null) {
    homeScore = homeScore - score.penalties.homeTeam;
  }
  return homeScore;
});
const awayScore = computed(()=> {
  const score = props.match.score;
  let awayScore = score.fullTime.awayTeam;
  if (score.extraTime.awayTeam != null) {
    awayScore = awayScore - score.extraTime.awayTeam;
  }
  if (score.penalties.awayTeam != null) {
    awayScore = awayScore - score.penalties.awayTeam;
  }
  return awayScore;
})

const homeMatchTeam = reactive({
  team: matchInfo.homeTeam,
  bettingDisabled,
  score: homeScore,
  etScore: props.match.score.fullTime.homeTeam
});
const awayMatchTeam = reactive({
  team: matchInfo.awayTeam,
  bettingDisabled,
  score: awayScore,
  etScore: props.match.score.fullTime.awayTeam
});
const groupLink = computed(() => '/standings#' + match.group.split(' ')[1]);
const placedBet = ref({
  home: '',
  away: ''
})

const betUpdated = function (team, value) {
  const numberVal = Number(value);
  if (value !== '' && !Number.isNaN(numberVal)) {
    placedBet.value[team] = value;
    const bet = {
      match: match.id,
      home: placedBet.value.home != '' ? placedBet.value.home : props.userScores.home,
      away: placedBet.value.away != '' ? placedBet.value.away : props.userScores.away
    };
    if (bet.home && bet.home !== '' && bet.away && bet.away !== '') {
      storeUserMatchBet(bet);
    }
  }

};
</script>

<template>
  <div class="flex justify-center items-center flex-col md:flex-row mt-12" :class="{'mt-0': isOldGame}">
    <div class="team flex items-center w-full md:w-2/5 justify-around">
      <MatchTeam home="true" :teamInfo="homeMatchTeam" :bet="userScores.home" @updated="betUpdated('home', $event)"/>
    </div>
    <div class="separator min-w-1/16 font-bold invisible md:visible">—</div>
    <div class="team flex items-center w-full md:w-2/5 justify-around md:flex-row-reverse">
      <MatchTeam :teamInfo="awayMatchTeam" :bet="userScores.away" @updated="betUpdated('away', $event)"/>
    </div>
  </div>
    <MatchScores :userScores="userScores" :match="match" />
  <span class="font-light italic text-sm">
      {{ t(match.stage) }} · <template v-if="match.stage === 'GROUP_STAGE'">
    <router-link :to="groupLink" :title="t('standings')" class="pointer underline hover:text-r-green">{{ match.group }}</router-link>  · </template>
      {{ t('matchday', { matchday: match.matchday }) }}
    </span>
</template>

<style scoped>


</style>
