<script setup>
import { defineProps, ref } from 'vue';
import { useState } from '~/logics/store';
import { fetchAllMatchBets } from '../../logics';
import { calcMatchScore } from '../../logics/scores';
import { gsap } from 'gsap'

const { state } = useState();

const props = defineProps({
  userScores: {
    type: Object,
    required: true
  },
  match: {
    type: Object,
    required: true
  }
});

const loading = ref(true);
const matchBets = ref([]);

const getCurrentUser = () => {
  const currentUser = state && state.value.currentUser;
  if (currentUser) {
    return currentUser.user_metadata;
  }
};

const content = ref({
  title: 'Show all',
  active: false
});

const expandClicked = async (active) => {
  // Fetch all bets for match
  if (active) {
    const fetchedMatchBets = await fetchAllMatchBets(props.match.id);
    fetchedMatchBets.map(data => {
      data.bet = data.bet.bet;
      const score = calcMatchScore(data.bet, props.match);
      data.score = score;
    });
    matchBets.value = fetchedMatchBets.filter(data => data.user.sub !== state.value.currentUser.id);
    loading.value = false;
  }
  else {
    // Reset loader after animation
    setTimeout(() => loading.value = true, 500);
  }
}
</script>

<template>
  <Expand @expandClicked="expandClicked" :observe="true">
    <template v-slot:title>
      <div class="p-4 flex-grow text-left">
        <b>{{ getCurrentUser().full_name }}</b>
        <span class="border-l border-current ml-1 px-2 inline-block" v-if="userScores.home || userScores.away">
              {{ userScores.home }} — {{ userScores.away }}
            </span>
        <span v-if="match.status !== 'SCHEDULED'" :class="{
              'text-amber-600 dark:text-amber-200': userScores.score === 3,
              'text-green-600 dark:text-r-green': userScores.score === 1,
              'text-red-600 dark:text-red-200': userScores.score === 0}"
        >
              <carbon-trophy class="text-amber-600 dark:text-amber-200" v-if="userScores.score === 3"/>
              <carbon-checkmark-outline class="text-green-600 dark:text-r-green" v-else-if="userScores.score === 1"/>
              <carbon-close-outline class="text-red-600 dark:text-red-200" v-else/>
              <b class="px-1">{{ userScores.score }}p</b>
            </span>
      </div>
      <div class="p-4 md:invisible hidden md:block group-hover:visible">{{ content.title }}</div>
    </template>
    <template v-slot:body>
      <r-loader v-if="loading"/>
      <template v-else>
        <div class="p-4 flex-grow text-left">
          <div class="py-1 flex flex-col md:flex-row" v-for="data in matchBets">
            <div class="truncate">
              <img v-if="data.user.user_metadata.avatar_url"
                   class="inline h-6"
                   :src="data.user.user_metadata.avatar_url" alt="" />
              <span>
                {{ data.user.user_metadata.full_name }}
              </span>
            </div>
            <div>
              <span class="border-l border-current ml-1 px-2 flex-shrink-0" v-if="data.bet.home || data.bet.away">
                    {{ data.bet.home }} — {{ data.bet.away }}
                  </span>
              <span v-if="match.status !== 'SCHEDULED'" :class="{
                    'text-amber-600 dark:text-amber-200': data.score === 3,
                    'text-green-600 dark:text-r-green': data.score === 1,
                    'text-red-600 dark:text-red-200': data.score === 0}"
              >
                    <carbon-trophy class="text-amber-600" v-if="data.score === 3"/>
                    <carbon-checkmark-outline class="text-green-600" v-else-if="data.score === 1"/>
                    <carbon-close-outline class="text-red-600" v-else/>
                    <b class="px-1">{{ data.score }}p</b>
                  </span>
            </div>
          </div>
          <template v-if="matchBets.length == 0">
            <carbon-no-ticket class="dark:text-r-green"/> No other bets yet
          </template>
        </div>
      </template>
    </template>
  </Expand>
</template>


<style scoped>
.accordion-caret {
  background-image: linear-gradient(to top right, transparent 50%, #727272 50%);
  animation: accordion-is-inactive 200ms linear forwards;
}

.accordion-item.accordion-active .accordion-caret {
  animation: accordion-is-active 200ms linear forwards;
}

@keyframes accordion-is-inactive {
  0% {
    transform: rotate(-45deg)
  }
  50% {
    transform: scale(1.5) rotate(45deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes accordion-is-active {
  0% {
    transform: rotate(135deg);
  }
  50% {
    transform: scale(1.5) rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

</style>
