<script setup>
import { computed, defineProps, ref } from 'vue';

const props = defineProps({
  teamInfo: {
    type: Object,
    required: true,
    default() {
      return {
        team: {},
        bettingDisabled: true,
        score: ''
      }
    }
  },
  bet: {
    type: String,
    required: false
  },
  home: {
    type: Boolean,
    required: false
  }
});
const team = computed(()=> props.teamInfo.team);
let placeholder = ref("-");
const emit = defineEmit(['updated'])
const updated = ref('')
const emitValue = (value) => {
  emit('updated', value)
}
</script>

<template>
  <div class="w-36">
    <template v-if="team.name">
      <img class="inline h-12" v-bind:src="team.flag"/>
      <div>{{ team.name }}</div>
    </template>
    <template v-else>
      <carbon-unknown class="inline h-12 text-2xl dark:text-r-green" />
      <div>TBA</div>
    </template>
  </div>
  <input v-if="teamInfo.score == null"
         type="number"
         :placeholder="placeholder"
         :min=0
         v-model="bet"
         @focus="placeholder = ''"
         :disabled="teamInfo.bettingDisabled"
         @blur="emitValue($event.target.value)"
         class="rounded-full text-2xl h-16 w-16 text-center shadow transition-shadow focus:outline-none focus:ring focus:ring-1 ring-green dark:ring-r-green dark:bg-dark-green-bg"
  />
  <div v-else class="text-2xl h-16 w-16 min-w-16 text-center shrink-0 align-middle leading-16">

    <template v-if="home && teamInfo.score != teamInfo.etScore">({{teamInfo.etScore}}) </template>{{teamInfo.score}} <template v-if="!home && teamInfo.score != teamInfo.etScore">({{teamInfo
      .etScore}})</template>
  </div>
</template>


<style scoped>
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
</style>
