<script setup lang="ts">
</script>

<template>
  <main class="px-4 py-10 text-center text-gray-700 dark:text-gray-200 h-full dark:divide-r-green dark:bg-dark-green transition-colors">
    <router-view />
    <Footer />
  </main>
</template>
