<script setup lang="ts">
import {getFlagUrl, updateHighscores} from "~/logics";
import { useState } from '~/logics/store';
import {computed, onMounted, ref} from "vue";
const { state } = useState();

const getCurrentUser = () => {
  const currentUser = state && state.value.currentUser;
  if (currentUser) {
    return currentUser;
  }
};

const highscores = ref([]);
const loading = ref(true);
const error = ref(false);
const sortedHighscores = computed(() => {
  if (!highscores.value) {
    return [];
  }
  return [...highscores.value].sort((first, second) => -(first.score.total - second.score.total))
})

const getFlag = teamId => getFlagUrl(teamId)

const fetchHighscores = async () => {
  const fetchedHighscores = await updateHighscores()
      .catch(err => error.value = true)
      .finally(() => loading.value = false);
  highscores.value = fetchedHighscores.data;
}
onMounted(fetchHighscores);
</script>

<template>
  <r-loader v-if="loading"></r-loader>
  <ErrorMsg v-else-if="error"/>
  <div v-else class="flex justify-center mt-5 divide-x-2 divide-gray-300 dark:divide-r-green">
    <table class="rounded-tl-lg bg-gray-200 text-gray-800 dark:text-white dark:bg-darker-green min-w-40 text-left whitespace-nowrap">
      <tr class="border-b-2 border-gray-300 dark:border-r-green">
        <th class="px-4 py-3">User</th>
      </tr>
      <tr v-for="score in sortedHighscores" :id="score.user.sub"  class="bg-gray-100 dark:bg-dark-green-bg border-b border-gray-200 dark:border-darker-green">
        <td class="px-4 py-3" :class="{'font-bold': getCurrentUser().id === score.user.sub}">
          <img v-if="score.user.user_metadata.avatar_url" class="inline h-5 mr-1" v-bind:src="score.user.user_metadata.avatar_url"/>
          {{ score.user.user_metadata.full_name }}
        </td>
      </tr>
    </table>
    <div class="overflow-x-auto ">
      <table class="min-w-sm rounded-tr-lg bg-gray-200 text-gray-800 dark:text-white dark:bg-darker-green min-w-40 text-center whitespace-nowrap">
        <tr class="border-b-2 border-gray-300 dark:border-r-green">
          <th class="px-4 py-3" title="Points">Pts</th>
          <th class="px-4 py-3" title="3p"><carbon-trophy class="text-amber-600 dark:text-amber-200"/> 3pts</th>
          <th class="px-4 py-3" title="1p"><carbon-checkmark-outline class="text-green-600 dark:text-r-green"/> 1pts</th>
          <th class="px-4 py-3" title="Winner">Predicted Winner</th>
        </tr>
        <tr v-for="score in sortedHighscores" class="bg-gray-100 border-b border-gray-200 dark:border-darker-green dark:bg-dark-green-bg">
          <td class="px-4 py-3 font-bold">{{ score.score.total }}</td>
          <td class="px-4 py-3">{{ score.score.threes }}</td>
          <td class="px-4 py-3">{{ score.score.ones }}</td>
          <td class="px-4 py-3 text-left"><template v-if="score.user.winner">
            <img
              class="h-5 inline -mt-2px mr-1" :src="getFlag(score.user.winner.id)">{{
              score.user.winner.name }}</template><carbon-trophy-filled class="ml-2 text-amber-600" v-if="score.score.guessedWinner" /></td>
        </tr>
      </table>
    </div>
  </div>
</template>
