<script setup lang="ts">
import {useState} from "~/logics/store";
import {computed, ref, watch} from "vue";
import netlifyIdentity, {User} from "netlify-identity-widget";
import {useRoute, useRouter} from 'vue-router'
import {updateDBUser} from "~/logics";

const { state, setUser } = useState();
const router = useRouter();
const route = useRoute();

const isLoggedIn = computed(() => state && state.value.currentUser != null || false)
const isChewing = ref(false);
const showBall = ref(false);
watch(isChewing, v => {
  setTimeout(() => showBall.value = true, 2000);
});
let loginActionDone = false;

netlifyIdentity.off('login');
netlifyIdentity.on('login', async ()=> {
  if (!loginActionDone) {
    loginActionDone =true;
    await netlifyIdentity.refresh();
    const currentUser = netlifyIdentity.currentUser();
    setUser(currentUser);
    netlifyIdentity.close();
    updateDBUser().then(() => router.push(route.query.redirectFrom || '/'))
        .catch((err) => console.error(err));
  }
});
function triggerNetlifyIdentityAction(action: string) {
  if (action == "login") {
    netlifyIdentity.open(action);
  } else if (action == "logout") {
    setUser(null);
    netlifyIdentity.logout();
    router.push('/login');
  }
}
</script>

<template>
  <Sidebar v-if="isLoggedIn"/>
  <div class="h-474px mb-12 relative">
    <div class="reine-croc m-8" :class="{chewing: isChewing}" @click="isChewing = true">
      <div class="inner-circle border-dark-green dark:border-r-green"></div>
      <div class="bg-dark-green dark:bg-r-green upper-lip" :class="{'upper-lip-chew': isChewing}"></div>
      <div class="bg-dark-green dark:bg-r-green lower-lip"></div>
    </div>
    <span class="ball relative w-80 inline-block" :class="{rolling: showBall}">
      <mdi-soccer class="text-dark-green dark:text-r-green" style="font-size: 4rem;" />
    </span>
    <div class="md:text-6xl text-3xl absolute bottom-0 left-1/2 transform -translate-x-1/2" >
      <p v-if="isLoggedIn">Welcome {{ state.currentUser.user_metadata.full_name}}!</p>
      <p v-else>Reine-Tipset</p>
      <p class="text-base"><b>The</b> place for company-wide soccer hysteria! &#x26BD;</p>
    </div>
  </div>

  <div class="links">
    <button v-if="isLoggedIn" v-on:click="triggerNetlifyIdentityAction('logout')" class="button">Logout</button>
    <button v-else v-on:click="triggerNetlifyIdentityAction('login')"
            class="button">Login
    </button>
  </div>

</template>

<style>

.button {
  @apply bg-dark-green hover:bg-dark-green-fade dark:bg-r-green dark:hover:bg-green-fade text-white dark:text-dark-green font-bold py-4 px-16
}


.reine-croc {
  display: inline-block;
  width: 282px;
  height: 247px;
  margin: auto;
  transform: rotate(90deg);
}
@keyframes croc-mode {
  from {transform: rotate(90deg);}
  to {transform: rotate(0deg);}
}
.chewing {
  animation: croc-mode ease-in-out 0.8s forwards;
}
@keyframes ball-roll {
  from {transform: translateX(0);}
  to {transform: translateX(-320px) rotate(-500deg);}
}
.ball {
  display: none;
  top: -110px;
  left: 50%;
  height: 5rem;
  overflow: hidden;
}
.ball.rolling {
  display: block;
}
.ball.rolling > svg {
  float: right;
  animation-name: ball-roll;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.inner-circle{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-style: solid;
  border-width: 52px;
  line-height: 50px;
}

@keyframes chewing {
  from {transform: rotate(-50deg);}
  to {transform: rotate(-8deg);}
}
.upper-lip-chew {
  animation-name: chewing;
  animation-duration: 0.6s;
  animation-delay: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.upper-lip {
  width: 220px;
  height: 52px;
  transform-origin: top left;
  transform: rotate(-50deg);
  position: relative;
  top: -24px;
  left: 100px;
}
.lower-lip {
  width: 182px;
  height: 52px;
  position: relative;
  top: -57px;
  left: 100px;
}

</style>

<route lang="yaml">
meta:
  layout: login
</route>

