<script setup lang="ts">
import {fetchStandings, getFlagUrl} from "~/logics";
import {onMounted, ref} from "vue";

const standings = ref([]);
const loading = ref(true);
const error = ref(null);

function niceGroupName(groupName: string) {
  return groupName.replace('_', ' ').toLowerCase();
}
function getGroupAnchor(groupName: string) {
  return groupName.split('_')[1];
}

const parseStandings = async () => {
  const competitionStandings = await fetchStandings();
  standings.value = competitionStandings.standings;
  loading.value = false;
}

onMounted(parseStandings);
</script>

<template>
  <r-loader v-if="loading"></r-loader>
  <div v-else class="divide-y">
    <div v-for="standing in standings" class="p-8 my-4">
      <p :id="getGroupAnchor(standing.group)" class="text-lg capitalize">{{ niceGroupName(standing.group) }}</p>
      <div class="flex justify-center mt-5 divide-x-2 divide-gray-300 dark:divide-r-green">
        <table class="rounded-tl-lg bg-gray-200 text-gray-800 dark:text-white dark:bg-darker-green min-w-40 text-left transition-colors whitespace-nowrap">
          <tr class="border-b-2 border-gray-300 dark:border-r-green">
            <th class="px-4 py-3">Team</th>
          </tr>
          <tr v-for="team in standing.table" :id="team.team.id"  class="bg-gray-100 dark:bg-dark-green-bg border-b border-gray-200 dark:border-darker-green transition-colors">
            <td class="px-4 py-3"><img class="inline h-4 mr-4" v-bind:src="getFlagUrl(team.team.id)"/>{{ team.team.name }}</td>
          </tr>
        </table>
        <div class="overflow-x-auto ">
          <table class="min-w-sm rounded-tr-lg bg-gray-200 text-gray-800 dark:text-white dark:bg-darker-green min-w-40 text-left transition-colors whitespace-nowrap">
            <tr class="border-b-2 border-gray-300 dark:border-r-green">
              <th class="px-4 py-3" title="Matches played">MP</th>
              <th class="px-4 py-3" title="Points">Pts</th>
              <th class="px-4 py-3" title="Wins">W</th>
              <th class="px-4 py-3" title="Draws">D</th>
              <th class="px-4 py-3" title="Losses">L</th>
              <th class="px-4 py-3" title="Goals scored">GF</th>
              <th class="px-4 py-3" title="Goals against">GA</th>
              <th class="px-4 py-3" title="Goal difference">GD</th>
            </tr>
            <tr v-for="team in standing.table" class="bg-gray-100 border-b border-gray-200 dark:border-darker-green dark:bg-dark-green-bg transition-colors">
              <td class="px-4 py-3">{{ team.playedGames }}</td>
              <td class="px-4 py-3 font-bold">{{ team.points }}</td>
              <td class="px-4 py-3">{{ team.won }}</td>
              <td class="px-4 py-3">{{ team.draw }}</td>
              <td class="px-4 py-3">{{ team.lost }}</td>
              <td class="px-4 py-3">{{ team.goalsFor }}</td>
              <td class="px-4 py-3">{{ team.goalsAgainst }}</td>
              <td class="px-4 py-3">{{ team.goalDifference }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
