<script setup lang="ts">
import {useI18n} from 'vue-i18n'
import {ref, onMounted, reactive, computed} from 'vue';
import {fetchAllUserMatchBets, fetchUpcomingMatches} from "~/logics";
import {useRouter} from "vue-router";
import {calcMatchScore} from "~/logics/scores";

const matches = ref([]);
const userScores = ref({});
const loading = ref(true);
const error = ref(null);
const scheduleMap = reactive({});
const today = new Date().setHours(0, 0, 0, 0);
let router = useRouter();

const getUpcomingMatches = async () => {
  const competitionMatches = await fetchUpcomingMatches();
  competitionMatches.matches.forEach(match => {
    const date = new Date(match.utcDate);
    match.date = date;
    match.expanded = true;
    match.matchTime = new Date(match.utcDate).toLocaleString();
    let dateMatches = scheduleMap[date] || [];
    dateMatches.push(match);
    scheduleMap[date] = dateMatches;
    userScores.value[match.id] = {};
  });
  matches.value = competitionMatches.matches;
  loading.value = false;
  return competitionMatches;
};
const getUserBets = async () => {
  const bets = await fetchAllUserMatchBets();
  bets.map(bet => {
    const {home, away} = bet;
    userScores.value[bet.match] = {home, away};
  })
  return bets;
};

const initAllMatches = async () => {
  const matches = (await getUpcomingMatches()).matches;
  const bets = await getUserBets();
  matches.map(match => {
    const bettedMatch = bets.find(bet => match.id === bet.match);
    const score = calcMatchScore(bettedMatch, match);
    userScores.value[match.id].score = score;
  })
}

const isOldGame = (match) => {
  const now = new Date();
  const diff = now - new Date(match.utcDate);
  return match.expanded && diff > 86400000; // 24h
}
const toggleGroups = ref(true);

onMounted(()=> {
  initAllMatches()
});

const {t} = useI18n();
</script>

<template>
    <button class="button" @click="toggleGroups = !toggleGroups">Toggle Group stage</button>
    <r-loader v-if="loading"></r-loader>
    <div v-else v-for="day in scheduleMap" class="shadow p-8 mx-4 sm:mx-20 my-4 relative" :class="{'old-game': isOldGame(day[0]), 'hidden': day[0].stage === 'GROUP_STAGE' && toggleGroups}"
         @click="day[0].expanded =
    !day[0].expanded">
      <div class="absolute text-xl top-4 right-8 transition-transform group" :title="day[0].status">
        <carbon-event-schedule v-if="day[0].status === 'SCHEDULED'" class="text-gray-400" />
        <carbon-circle-filled v-else-if="day[0].status === 'LIVE' || day[0].status === 'IN_PLAY'" class="animate-pulse text-red-400" />
        <carbon-checkmark  v-else-if="day[0].status === 'FINISHED'" class="text-dark-green dark:text-r-green" />
      </div>
      <div>
        {{ day[0].matchTime }}
      </div>
      <match-entry v-for="match in day" :match="match" :userScores="userScores[match.id]" :isOldGame="isOldGame(match)"/>
    </div>
</template>

<style>
.button {
  @apply bg-dark-green hover:bg-dark-green-fade dark:bg-r-green dark:hover:bg-green-fade text-white dark:text-dark-green font-bold py-4 px-16
}
.old-game {
  @apply p-0 overflow-hidden h-52 md:h-28 dark:hover:bg-darker-green hover:bg-gray-100
}
</style>
