<script setup>
import { defineProps, ref, watch } from 'vue';
import { gsap } from 'gsap'

const props = defineProps({
  easeOn: {
    type: String,
    required: false,
    default: 'elastic.out(1, 0.3)'
  },
  easeOff: {
    type: String,
    required: false,
    default: 'bounce.out'
  },
  observe: {
    type: Boolean,
    required: false,
    default: false
  },
  showCaret: {
    type: Boolean,
    required: false,
    default: true
  }
})

const active = ref(  false);
const expandBody = ref(null)
const config = { childList: true, subtree: true };
const observer = new MutationObserver((e)=>{
  const el = expandBody.value;
  const options = {
    height: el.scrollHeight,
    ease: props.easeOn
  };
  gsap.to(el, 1, options)
});
const observerAnimation = (el) => {
  if (active.value) {
    observer.observe(el, config);
  }
  else  {
    observer.disconnect();
    const options = {
      height: 0,
      ease: props.easeOff
    };
    gsap.to(el, 0.5, options)
  }
}

const expand = e => {
  active.value = !active.value;
  const el = expandBody.value;
  if (props.observe) {
    observerAnimation(el)
  }
  else {
    const el = expandBody.value;
    const options = {
      height: active.value ? el.scrollHeight : 0,
      ease: active.value ? props.easeOn : props.easeOff
    };
    gsap.to(el, active.value ? 1 : 0.5, options);
  }

  emitValue(active.value);
};

const emit = defineEmit(['expandClicked'])
const expandClicked = ref('')
const emitValue = value => emit('expandClicked', value);
</script>

<template>
  <div class="w-full max-w-md max-h-full px-8 py-4 m-auto my-4 box-border overflow-auto shadow dark:border-b-1 dark:border-t-1 dark:border-r-green">
    <div
        class="accordion-item"
        v-bind:class="{ 'accordion-active': active }"
    >
      <div class="relative">
        <div class="group cursor-pointer no-underline w-full h-full flex justify-between box-border rounded-lg ease-in-out hover:bg-gray-100 dark:hover:bg-darker-green" v-on:click.stop="expand($event)">
          <slot name="title" />
          <div class="p-4 pl-0 flex items-center justify-center" :class="{'invisible': !showCaret}">
            <div class="accordion-caret w-2 h-2 transform -rotate-45"></div>
          </div>
        </div>
      </div>
      <div ref="expandBody" class="h-0 overflow-hidden">
        <slot name="body" />
      </div>
    </div>
  </div>
</template>


<style scoped>
.accordion-caret {
  background-image: linear-gradient(to top right, transparent 50%, #727272 50%);
  animation: accordion-is-inactive 200ms linear forwards;
}
.accordion-item.accordion-active .accordion-caret {
  animation: accordion-is-active 200ms linear forwards;
}

@keyframes accordion-is-inactive {
  0%   { transform: rotate(-45deg) }
  50%  { transform: scale(1.5) rotate(45deg); }
  100% { transform: rotate(135deg); }
}

@keyframes accordion-is-active {
  0%   { transform: rotate(135deg); }
  50%  { transform: scale(1.5) rotate(45deg); }
  100% { transform: rotate(-45deg); }
}

</style>
