<script setup lang="ts">
</script>

<template>
  <div class="ball-rolling"></div>
</template>

<style scoped>

.ball-rolling {
  position: relative;
  @apply text-lg
}

.ball-rolling::before {
  content: '⚽';
  display: inline-block;
  position: relative;
  transform: translateX(-35px);
  animation: ballRolling 3s infinite;
}

@keyframes ballRolling {
  0% {
    content: '⚽';
    transform: translateX(-35px) rotateZ(0deg);
  }
  16.667% {
    transform: translateX(35px) rotateZ(720deg);
  }
  33.333% {
    transform: translateX(-35px) rotateZ(0deg);
  }
  34.333% {
    transform: translateX(-35px) rotateZ(0deg);
  }
  50% {
    transform: translateX(35px) rotateZ(720deg);
  }
  66.667% {
    transform: translateX(-35px) rotateZ(0deg);
  }
  67.667% {
    transform: translateX(-35px) rotateZ(0deg);
  }
  83.333% {
    transform: translateX(35px) rotateZ(720deg);
  }
  100% {
    transform: translateX(-35px) rotateZ(0deg);
  }
}

</style>
