<script setup lang="ts">
import { collapsed, toggleSidebar, sidebarWidth } from '~/logics/store'
import {useI18n} from "vue-i18n";
const { t } = useI18n();
</script>

<template>
  <div class="sidebar" :class="{'collapsed': collapsed}">
    <SidebarLink to="/" title="Home">
      <template v-slot:icon><carbon-home style="width: 1.4rem;height: 1.4rem;"/></template>
      <template v-slot:title>Home</template>
    </SidebarLink>
    <SidebarLink to="/upcoming" title="Matches">
      <template v-slot:icon><carbon-game-console style="width: 1.4rem;height: 1.4rem;" /></template>
      <template v-slot:title>Matches</template>
    </SidebarLink>
    <SidebarLink to="/highscore" title="Highscore">
      <template v-slot:icon><carbon-trophy style="width: 1.4rem;height: 1.4rem;" /></template>
      <template v-slot:title>Highscore</template>
    </SidebarLink>
    <SidebarLink to="/standings" title="Standings">
      <template v-slot:icon><carbon-table style="width: 1.4rem;height: 1.4rem;" /></template>
      <template v-slot:title>Standings</template>
    </SidebarLink>
    <SidebarLink to="/rules" title="Rules">
      <template v-slot:icon><carbon-ruler style="width: 1.4rem;height: 1.4rem;" /></template>
      <template v-slot:title>Rules</template>
    </SidebarLink>
    <SidebarLink to="/about" title="About">
      <template v-slot:icon><carbon-dicom-overlay style="width: 1.4rem;height: 1.4rem;" /></template>
      <template v-slot:title>About</template>
    </SidebarLink>
    <SidebarLink to="/login" title="Logout">
      <template v-slot:icon>
        <carbon-logout style="width: 1.4rem;height: 1.4rem;" />
      </template>
      <template v-slot:title>Logout</template>
    </SidebarLink>
    <span
        class="collapse-icon hidden sm:block"
        :class="{ 'rotate-180': collapsed }"
        @click="toggleSidebar()"
    >
      <carbon-chevron-left />
    </span>
  </div>
</template>

<style scoped>
.sidebar {
  @apply text-white bg-dark-green dark:bg-darker-green fixed float-left
    z-1 inset-y-0 left-0 p-2 transition-all duration-300 flex flex-col w-3.4rem sm:w-46
  dark:border-r dark:border-r-green
}
.collapsed {
  @apply w-3.4rem !important
}
.collapse-icon {
  @apply absolute bottom-0 p-3 text-white transition-all duration-200 ease-linear
}
.rotate-180 {
  transition: 0.2s linear;
  transform: rotate(180deg);
}
.sidebar-icon {
  flex-shrink: 0;
  width: 2rem;
  margin-right: 10px;
}
</style>
