<script setup lang="ts">
import {defineProps} from 'vue'
import {collapsed} from '~/logics/store'

const props = defineProps({
  to: {type: String, required: true},
  title: {type: String, required:false}
});
</script>

<template>
  <router-link :to="to" class="link" :title="title">
    <div class="icon flex-shrink-0 width-24px mr-3">
      <slot name="icon"/>
    </div>
    <transition name="fade">
      <span class="hidden sm:block" v-if="!collapsed">
        <slot name="title"/>
      </span>
    </transition>
  </router-link>
</template>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.link {
  @apply flex items-center cursor-pointer relative font-400 select-none my-2 p-2 py-4 rounded h-6 text-white no-underline
    hover:bg-dark-green-fade
}
.link.router-link-exact-active {
  @apply bg-r-green text-dark-green
}
</style>
