<script setup lang="ts">
import {computed, onMounted, ref} from "vue";
import {fetchTodaysMatches, getFlagUrl} from "~/logics";

const todaysMatches = ref([]);
const loading = ref(true);


const setMatchInfo = (match) => {
  match.matchTime = new Date(match.utcDate).toLocaleTimeString();
  match.homeTeam = {
    name: match.homeTeam.name,
    flag: getFlagUrl(match.homeTeam.id)
  };
  match.awayTeam = {
    name: match.awayTeam.name,
    flag: getFlagUrl(match.awayTeam.id)
  };
  return match;
};

const fetchTodays = async () => {
  const fetchedMatches = await fetchTodaysMatches();
  fetchedMatches.forEach(match => {
    match = setMatchInfo(match);
  })
  todaysMatches.value = fetchedMatches;
  loading.value = false;
}

const title = computed(() => {
  if (todaysMatches.value.length === 0) {
    return 'No matches today.'
  }
  else {
    return todaysMatches.value.length === 1 ? 'Match today' : 'Matches today'
  }
});


onMounted(fetchTodays)
</script>

<template>
  <r-loader v-if="loading"></r-loader>
  <div v-else class="shadow p-8 mx-4 sm:mx-20 my-4 relative dark:border-b-1 dark:border-t-1 dark:border-r-green">
    <router-link class="block rounded-lg hover:bg-gray-100 dark:hover:bg-darker-green" to="/upcoming">
      <div class="text-xl mb-3">
        {{title}}
      </div>
      <div class="divide-y">
        <div v-for="match in todaysMatches" class="py-6">
          <div class="mb-2">
            {{ match.matchTime }}
          </div>

          <div class="flex justify-center items-center flex-col md:flex-row">
            <div class="team flex items-center w-full md:w-2/5 justify-around">
              <div class="w-36">
                <img class="inline h-12" v-bind:src="match.homeTeam.flag"/>
                <div>{{ match.homeTeam.name }}</div>
              </div>
            </div>
            <div class="separator min-w-1/16 font-bold invisible md:visible">—</div>
            <div class="team flex items-center w-full md:w-2/5 justify-around md:flex-row-reverse">
              <div class="w-36">
                <img class="inline h-12" v-bind:src="match.awayTeam.flag"/>
                <div>{{ match.awayTeam.name }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </router-link>
  </div>
</template>

<style scoped>
</style>
