<script setup lang="ts" xmlns="http://www.w3.org/1999/html">

import {onMounted, ref} from "vue";
import {updateHighscores} from "~/logics";
import {useState} from '~/logics/store';
const {state} = useState();

const loading = ref(true);
const error = ref(false);
const myScore = ref({});

const getCurrentUser = () => {
  const currentUser = state && state.value.currentUser;
  if (currentUser) {
    return currentUser;
  }
};

const fetchHighscore = async () => {
  const highscore = await updateHighscores()
      .catch(err => error.value = true)
      .finally(() => loading.value = false);
  const currentUserId = getCurrentUser().id;
  highscore.data.sort((first, second) => -(first.score.total - second.score.total));
  const userFindComp = data => data.user.sub === currentUserId;
  const userScore = highscore.data.find(userFindComp);
  const placement = highscore.data.findIndex(userFindComp) + 1;
  myScore.value = {placement, ...userScore};
}

onMounted(fetchHighscore);
</script>

<template>
  <div class="shadow p-8 mx-4 sm:mx-20 my-4 relative min-h-32">
    <r-loader v-if="loading === true"></r-loader>
    <ErrorMsg v-else-if="error" />
    <router-link v-else to="/highscore" class="block rounded-lg min-h-10 hover:bg-gray-100 dark:hover:bg-darker-green">
      <div class="text-xl mb-3">
        My score: {{ myScore.score && myScore.score.total }}
      </div>
      <span class="text-l">Placement: {{ myScore.placement }}</span>
    </router-link>
  </div>
</template>
