<script setup lang="ts">
import {computed, onMounted, reactive, ref} from "vue";
import {fetchTeams, fetchUserWinner, getFlagUrl, storeUserWinner} from "~/logics";

const teams = ref([]);
const loading = ref(true);
const selectLoading = ref(false);
const error = ref(null);
const winner = ref({})
const now = ref(null);
const DEADLINE = new Date('2021-06-16T13:00:00Z');


const parseTeams = async () => {
  const competitionTeams = await fetchTeams();
  teams.value = competitionTeams.teams;
  loading.value = false;
};

const getWinnerInfo = async () => {
  const userWinner = await fetchUserWinner();
  winner.value = userWinner;
}


const betWinner = async team => {
  selectLoading.value = true
  const resp = await storeUserWinner(team);
  winner.value = team;
  selectLoading.value = false;
}

const canChange = computed(()=> DEADLINE - now.value > 0)


onMounted(() => {
  parseTeams();
  getWinnerInfo();
  now.value = new Date();
});

</script>

<template>
  <Expand class="max-w-screen" :class="{'pointer-events-none': !canChange}" :easeOn="`back.out(0.3)`" :easeOff="`back.out(0.3)`" :showCaret="canChange">
    <template v-slot:title>
      <div class="p-4 pl-0 min-w-2"><!-- To ensure we're next item is centered --> </div>
      <div class="flex items-center" :class="{'flex-col': !canChange}">
        <div v-if="!canChange" class="mb-4 text-xl">Predicted winner</div>
        <div v-if="winner && winner.name && !selectLoading">
          <img class="inline h-12 mb-4" :src="getFlagUrl(winner.id)"/>
          <div class="text-lg capitalize">{{ winner.name }} ({{ winner.tla }})</div>
        </div>
        <div v-else>
          <carbon-unknown v-if="!selectLoading" class="inline h-12 text-2xl dark:text-r-green" />
          <div v-else class="bg-gray-300 min-w-24 h-12 mb-4 animate-pulse"></div>
          <div class="text-lg">
            <template v-if="selectLoading"><r-loader /></template>
            <template v-else><i>Not selected</i></template>
          </div>
        </div>
        <b v-if="canChange" class="ml-4">Pick your UEFA Euro <del class="text-red-400">2020</del> 2021 winner!</b>
      </div>
    </template>
    <template v-slot:body>
      <r-loader v-if="loading"></r-loader>
      <div v-else class="grid gap-2 grid-cols-auto-fill justify-center">
        <div v-for="team in teams" class="p-4 m-2 cursor-pointer hover:bg-gray-100 dark:hover:bg-darker-green"
             @click="betWinner(team)">
          <img class="inline h-12 mb-4" :src="getFlagUrl(team.id)"/>
          <div class="text-lg capitalize">{{ team.name }} ({{ team.tla }})</div>
          <div>Est. {{ team.founded }}</div>
        </div>
      </div>
    </template>
  </Expand>

</template>

<style scoped>
.grid {
  display: grid;
  display: -ms-grid;
}
.grid-cols-auto-fill {
  grid-template-columns: repeat(auto-fill, 16rem);
}
</style>
