<script setup lang="ts">
import {useHead} from '@vueuse/head'

// https://github.com/vueuse/head
useHead({
  title: 'Reine-Tipset',
  meta: [
    { name: 'description', content: 'THE place for company-wide soccer hysteria!' },
  ],
});


</script>

<template>
  <router-view />
</template>
