<script setup lang="ts">
import {useState, sidebarWidth, SIDEBAR_WIDTH_COLLAPSED, collapsed} from "~/logics/store";
import {computed} from "vue";
const {state} = useState();
const marginLeft = computed(() => {
  if (state && state.value.currentUser) {
    return sidebarWidth.value;
  }
  else {
    return SIDEBAR_WIDTH_COLLAPSED;
  }
})
</script>
<template>
  <Sidebar v-if="state && state.currentUser"/>
  <MainView class="ml-3.4rem sm:ml-46" :class="{'main-collapsed': collapsed}"/>
</template>

<style scoped>
.main-collapsed {
  @apply ml-3.4rem !important
}
</style>
