<template>
  <main class="px-4 py-10 text-center text-gray-700 dark:text-gray-200 bg-r-green dark:bg-dark-green min-h-inherit transition-colors">
    <router-view />
    <Footer/>
  </main>
</template>

<style scoped>
.min-h-inherit {
  min-height: inherit;
}
</style>
